src/MalikP.BusinessJournal.Models.V1/UctovnaZavierka/UctovnaZavierkaNepodnikatelia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UctovnaZavierkaNepodnikatelia">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hlavicka">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ObchodneMeno" type="xs:string" />
							<xs:element name="Sidlo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Ulica" type="xs:string" />
										<xs:element name="Cislo" type="xs:string" />
										<xs:element name="Obec" type="xs:string" />
										<xs:element name="Psc" type="xs:string" />
										<xs:element name="Stat" type="xs:string" nillable="true"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ICO" type="xs:string" />
							<xs:element name="Zverejnuje">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Kod" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="ZaObdobieOd" type="xs:date" />
							<xs:element name="ZaObdobieDo" type="xs:date" />
							<xs:element name="VSuma">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Kod" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="DatumOvereniaAuditorom" type="xs:date" />
							<xs:element name="SuvahaFormular">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Kod" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="ZverejnujeText" type="xs:string" />
				
				<!-- Jednoduche uctovnictvo -->
				
				<xs:element name="Majetok">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Riadok" type="UctovnaZavierkaNepodnikateliaRiadokJU" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Zavazky">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Riadok" type="UctovnaZavierkaNepodnikateliaRiadokJU" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Prijmy">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Riadok" type="UctovnaZavierkaNepodnikateliaRiadokJU" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Vydavky">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Riadok" type="UctovnaZavierkaNepodnikateliaRiadokJU" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<!-- Podvojne uctovnictvo -->
				
				<xs:element name="StranaAktiv">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Sekcia" type="UctovnaZavierkaNepodnikateliaSekciaPU" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="StranaPasiv">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Sekcia" type="UctovnaZavierkaNepodnikateliaSekciaPU" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="Naklady">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Riadok" type="UctovnaZavierkaNepodnikateliaRiadokPU" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="Vynosy">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="Riadok" type="UctovnaZavierkaNepodnikateliaRiadokPU" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="UctovnaZavierkaNepodnikateliaRiadokJU">
		<xs:sequence>
			<xs:element name="Text" type="xs:string" />
			<xs:element name="Cislo" type="xs:int" />
			<xs:element name="Data1" type="xs:decimal" nillable="true" />
			<xs:element name="Data2" type="xs:decimal" nillable="true" />
		</xs:sequence>
		<xs:attribute name="Bold" type="xs:boolean" use="required" />
		<xs:attribute name="IsData1Enabled" type="xs:boolean" use="optional" default="true" />
		<xs:attribute name="IsData2Enabled" type="xs:boolean" use="optional" default="true" />
	</xs:complexType>
	
	<xs:complexType name="UctovnaZavierkaNepodnikateliaSekciaPU">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Riadok" type="UctovnaZavierkaNepodnikateliaRiadokPU" />
		</xs:sequence>
		<xs:attribute name="Cislo" type="xs:string" />
	</xs:complexType>
	
	<xs:complexType name="UctovnaZavierkaNepodnikateliaRiadokPU">
		<xs:sequence>
			<xs:element name="CisloUctu" type="xs:integer" nillable="true" />
			<xs:element name="Text" type="xs:string" />
			<xs:element name="Cislo" type="xs:int" />
			<xs:element name="Data1" type="xs:decimal" nillable="true" />
			<xs:element name="Data2" type="xs:decimal" nillable="true" />
			<xs:element name="Data3" type="xs:decimal" nillable="true" />
			<xs:element name="Data4" type="xs:decimal" nillable="true" />
		</xs:sequence>
		<xs:attribute name="Bold" type="xs:boolean" use="required" />
		<xs:attribute name="IsData1Enabled" type="xs:boolean" use="optional" default="true" />
		<xs:attribute name="IsData2Enabled" type="xs:boolean" use="optional" default="true" />
		<xs:attribute name="IsData3Enabled" type="xs:boolean" use="optional" default="true" />
		<xs:attribute name="IsData4Enabled" type="xs:boolean" use="optional" default="true" />
	</xs:complexType>
</xs:schema>