src/MalikP.BusinessJournal.Models.V1/UctovnaZavierka/UctovnaZavierkaPodnikateliaIne.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="UctovnaZavierkaPodnikateliaIne">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hlavicka">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ObchodneMeno" type="xs:string" />
							<xs:element name="Sidlo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Ulica" type="xs:string" />
										<xs:element name="Cislo" type="xs:string" />
										<xs:element name="Obec" type="xs:string" />
										<xs:element name="Psc" type="xs:string" />
										<xs:element name="Stat" type="xs:string" nillable="true" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ICO" type="xs:string" />
							<xs:element name="Zverejnuje">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Kod" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="ZaObdobieOd" type="xs:date" />
							<xs:element name="ZaObdobieDo" type="xs:date" />
							<xs:element name="VSuma">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Kod" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="MusiBytOverenaAuditorom" type="xs:boolean" nillable="true" />
							<xs:element name="NazorAuditora">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Kod" type="xs:string" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="IneSkutocnosti" type="xs:string" />
							<xs:element name="AdresaZverejnenia" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="ZverejnujeText" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>