src/MalikP.BusinessJournal.Models.V1/Oznamenie/OdsudzujuciRozsudok.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">

  <xs:include schemaLocation="../Spolocne.xsd" />

  <xs:element name="OdsudzujuciRozsudok">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Spolocnost" type="ov:ObchodneMenoSidlo" />
        <xs:element name="Ico" type="xs:string" />
        <xs:element name="RozsudokVydal" type="ov:XmlDropDownValue" />
        <xs:element name="RozhodnutieCislo" type="xs:string" />
        <xs:element name="RozhodnutieDatum" type="xs:dateTime" />
        <xs:element name="ZDnaDatum" type="xs:dateTime" />
        <xs:element name="ZverejnujeText" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>