src/MalikP.BusinessJournal.Models.V1/Oznamenie/ZlucenieSplynutieProjektuZbierkyListin.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 	
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">
	
	<xs:include schemaLocation="../Spolocne.xsd" />
	
	<xs:element name="ZlucenieSplynutieProjektuZbierkyListin">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Spolocnost" type="ov:PravnickaOsoba" />
				
				<xs:element name="Datum" type="xs:dateTime" />
        <xs:element name="ZbierkaListinTyp" type="ov:XmlDropDownValue"/>
				<xs:element name="OkresnySud" type="ov:XmlDropDownValue" />

        <xs:element name="NaZaklade" type="ov:XmlDropDownValue" />
				<xs:element name="ZverejnujeText" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>