src/MalikP.BusinessJournal.Models.V1/Oznamenie/ZnizenieZakladnehoImania.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 	
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">
	
	<xs:include schemaLocation="../Spolocne.xsd" />
	
	<xs:element name="ZnizenieZakladnehoImania">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Konatelia">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Konatel" minOccurs="1" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Meno" type="ov:CeleMeno" />
										<xs:element name="Sidlo" type="ov:Sidlo" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Spolocnost" type="ov:PravnickaOsoba" />

				<xs:element name="RozhodnutieText" type="xs:string" />
				<xs:element name="RozhodnutieDatum" type="xs:dateTime" />

				<xs:element name="ZakladneImanieZ" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Suma" type="xs:decimal" />
							<xs:element name="Mena" type="ov:XmlDropDownValue" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ZakladneImanieNa" type="xs:decimal" />
				
				<xs:element name="PohladavkyPrihlasenie" type="ov:ObchodneMenoSidlo" />
				<xs:element name="UlozenieUzneseniaDatum" type="xs:dateTime" />

				<xs:element name="PrveZverejnenieOV" nillable="true" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Cislo" type="xs:string" />
							<xs:element name="Datum" type="xs:dateTime" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
        <xs:element name="PredstavenstvoField" type="ov:XmlDropDownValue" />

      </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>