src/MalikP.BusinessJournal.Models.V1/Ine/HospodarenieSpravaPodielovyFond.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">

	<xs:include schemaLocation="../Spolocne.xsd" />

	<xs:element name="HospodarenieSpravaPodielovyFond">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PredkladatelTyp" type="ov:XmlDropDownValue" />
				<xs:element name="Predkladatel" type="ov:PravnickaOsoba" />
				
				<xs:element name="ZverejnujeTyp" type="ov:XmlDropDownValue" />
				
				<xs:element name="PodielovyFondNazov" type="xs:string" />
				<xs:element name="PodielovyFondTyp" type="ov:XmlDropDownValue" />
				<xs:element name="PodielovyFondSidlo" type="ov:Sidlo" />
				
				<xs:element name="ZaObdobie" type="xs:string" />
				<xs:element name="ZverejnujeText" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>