src/MalikP.BusinessJournal.Models.V1/Ine/PredajMajetkuLividator.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">

	<xs:include schemaLocation="../Spolocne.xsd" />

	<xs:element name="PredajMajetkuLividator">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="LividatorTyp" type="ov:XmlDropDownValue" />

				<xs:element name="LividatorPO" nillable="true" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MenoSidlo" type="ov:ObchodneMenoSidlo" />
							<xs:element name="Ico" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="LividatorFO" nillable="true">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Meno" type="ov:CeleMeno" />
							<xs:element name="Sidlo" type="ov:Sidlo" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				
				<xs:element name="Spolocnost" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MenoSidlo" type="ov:ObchodneMenoSidlo" />
							<xs:element name="Ico" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="ZverejnujeText" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>