src/MalikP.BusinessJournal.Models.V1/Ine/PredajMajetkuSpravca.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 	
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">
	
	<xs:include schemaLocation="../Spolocne.xsd" />
	
	<xs:element name="PredajMajetkuSpravca">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="SpravcaTyp" type="ov:XmlDropDownValue" />

        <xs:element name="SpravcaPO" nillable="true" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MenoSidlo" type="ov:ObchodneMenoSidlo" />
              <xs:element name="Ico" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <!-- Spravca FO -->
        <xs:element name="SpravcaMeno" type="ov:CeleMeno" />
				<xs:element name="SpravcaSidlo" type="ov:Sidlo" />
				
				<xs:element name="UpadcaObchodneMenoSidlo" type="ov:ObchodneMenoSidlo" />
				<xs:element name="UpadcaIco" type="xs:string" />

        <xs:element name="Sud" type="ov:XmlDropDownValue" nillable="true" />
        <xs:element name="SpisovaZnackaSudnehoSpisu" type="xs:string" nillable="true" />
        
				<xs:element name="ZverejnujeText" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>