src/MalikP.BusinessJournal.Models.V1/Ine/UpisovanieAkcii.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 	
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">
	
	<xs:include schemaLocation="../Spolocne.xsd" />
	
	<xs:element name="UpisovanieAkcii">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="spolocnost" type="ov:PravnickaOsoba" />
				
				<xs:element name="UplatneniePrava">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RozhodnutieZaklad" type="xs:string" />
							<xs:element name="RozhodnutieDatum" type="xs:dateTime" />
							
							<xs:element name="Sposob" type="xs:string" />
							
							<xs:element name="LehotaOd" type="xs:dateTime" />
							<xs:element name="LehotaDo" type="xs:dateTime" />
							<xs:element name="MenoAdresa" type="ov:ObchodneMenoSidlo" />
							
							<xs:element name="RozhodujuciDen" type="xs:dateTime" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="ZverejnujeText" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>