src/MalikP.BusinessJournal.Models.V1/Ine/VyhlaskySudov.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">

  <xs:include schemaLocation="../Spolocne.xsd" />

  <xs:element name="VyhlaskySudov">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Sud" type="ov:XmlDropDownValue" />
        <xs:element name="Sidlo" type="ov:Sidlo" minOccurs="0" />
        <xs:element name="Cislo" type="xs:string" />

        <xs:element name="Porucitel" type="ov:MenoPriezvisko" />
        <xs:element name="Dedic" type="ov:MenoPriezvisko" />

        <xs:element name="ZverejnujeText" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="MenoPriezvisko">
    <xs:sequence>
      <xs:element name="Meno" type="xs:string" />
      <xs:element name="Priezvisko" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>