src/MalikP.BusinessJournal.Models.V1/Drazba/DrazbaSpravcaDane.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">

	<xs:include schemaLocation="../Spolocne.xsd" />

	<xs:element name="DrazbaSpravcaDane">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Typ" type="ov:XmlDropDownValue" />
				<xs:element name="Nazov" type="xs:string" />
				<xs:element name="Sidlo" type="ov:Sidlo" />
				<xs:element name="DrazobnaVyhlaskaCislo" type="xs:string" />
				<xs:element name="DrazobnaVyhlaskaZoDna" type="xs:date" />
				
				<xs:element name="ZverejnujeTyp" type="ov:XmlDropDownValue" />
				<xs:element name="ZverejnujeText" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>