src/MalikP.BusinessJournal.Models.V2/Oznamenie/ZverejnenieZriadovatelaMediacnehoCentra.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
	Zverejnenie zriadovatela rozhodcovskeho sudu
	Zverejnenie zriadovatela mediacneho centra
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema" 	
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">

  <xs:include schemaLocation="../../v1/Spolocne.xsd" />
	
	<xs:element name="ZverejnenieZriadovatelaMediacnehoCentra">
		<xs:complexType>
			<xs:sequence>
        <xs:element name="Zriadovatel">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Typ" type="ov:XmlDropDownValue" />
              <xs:element name="ZriadovatelFO" nillable="true">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Meno" type="ov:CeleMeno" />
                    <xs:element name="Bydlisko" type="ov:Sidlo" />
                    <xs:element name="Ico" type="xs:string" nillable="true" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ZriadovatelPO" nillable="true">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MenoSidlo" type="ov:ObchodneMenoSidlo" />
                    <xs:element name="Ico" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>				
        
				<xs:element name="OznamenieDatum" type="xs:dateTime" />
        
        <xs:element name="MediacneCentrum">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MenoSidlo" type="ov:ObchodneMenoSidlo" />
              <xs:element name="Ico" type="xs:string" />              
            </xs:sequence>           
          </xs:complexType>          
        </xs:element>

        <xs:element name="ZapisObchodnyRegister" type="ov:ZapisRegister" />
        <xs:element name="Pobocky" type="ov:ObchodneMenoSidlo" maxOccurs="unbounded" />
                
        <xs:element name="StatutMediacnehoCentra" type="xs:string" />
        <xs:element name="IneVnutornePredpisy" type="xs:string" />
        <xs:element name="ZoznamMediatorovMediacnomCentre" type="xs:string" />
        <xs:element name="ZoznamMediatorovSpotrebitelskychSporov" type="xs:string" />

        <xs:element name="ZverejnujeZmenu" type="ov:XmlDropDownValue" />
        <xs:element name="ZverejnujeText" type="xs:string" />
        <xs:element name="EvidencnyRegisterCentier" type="xs:string" />
        <xs:element name="WeboveSidlo" type="xs:string" />
        
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>