src/MalikP.BusinessJournal.Models.V1/RozhodnutieOznamenieOrganuVerejnejMoci/RozhodnutieOznamenieOrganuVerejnejMoci.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
		   targetNamespace="/PortalJustice/XmlFormularObchodnyVestnik/"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:ov="/PortalJustice/XmlFormularObchodnyVestnik/">
	
	<xs:include schemaLocation="../Spolocne.xsd" />
	
	<xs:element name="RozhodnutieOznamenieOrganuVerejnejMoci">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Oznamovatel" type="ov:XmlDropDownValue" nillable="true" />
				
				<xs:element name="Sidlo" type="ov:Sidlo"  />
				<xs:element name="Cislo" type="xs:string" />
				<xs:element name="BankovePovolenie" type="xs:string" nillable="true" />
				
				<xs:element name="Datum" type="xs:dateTime" />
				
				<xs:element name="ZverejnujeTypText" type="xs:string" nillable="true" />
				<xs:element name="ZverejnujeText" type="xs:string" />

				<xs:element name="BanskyUrad" nillable="true">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Obvodny" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>